.about

    .row
        .column-4
            .about-details.left
                .name.large
                    | About
                    br
                    | Seven on Seven
                .details
                    | Presented by Rhizome, the Seven on Seven conference pairs seven leading artists with seven luminary technologists, and challenges them to make something new together – be it an application, artwork, provocation, or whatever they imagine – over the course of a single day. They unveil their creations, and discuss their process, at this intimate public event.
                    br
                    br
                    span.underlined
                        | The 2015 edition is now over! Join us again in spring 2016. 
                    

        .column-4.centered
            img(src="./images/new_museum.png")


        .column-4
            .about-details.right
                .name.large
                    | About
                    br
                    | Rhizome
                .details
                    | Rhizome is an art and technology organization based on the internet, and an affiliate organization of the New Museum. It supports contemporary art to create richer and more critical digital cultures, through programs online and off – including commissions, exhibitions, events, an online journal, and an archive of over 2000 born digital artworks.
                    br
                    br
                    a(href="http://rhizome.org").rhizome
                        | http://rhizome.org


