.about#about

    .row
        .column-4
            .about-details.left
                .name
                    | About Seven on Seven
                .details
                    | The Seven on Seven conference pairs seven leading artists with seven luminary technologists in teams of two, and challenges them to develop something new–an app, an artwork, a provocation or whatever they imagine—over the course of a single day. They unveil their creations, and process, at this intimate public event.

        .column-4.centered
            img(src="./images/new_museum.png")


        .column-4
            .about-details.right
                .name
                    | About Rhizome
                .details
                    | Rhizome supports contemporary art that creates richer and more critical digital cultures. As an arts organization based on the internet, we re-think artistic creation, distribution, and reception in relation to changing conditions associated with network technologies: shifting attentions, uncertain objects, multiple authors, casual labors. An affiliate in residence at the New Museum in New York, we are a leading international organization to support art and technology, online since 1996.

