extends layout


block content

    .desktop
        include views/hero/desktop
        include includes/header
        .content
            #participants
                include views/participants/desktop
                include views/keynote/desktop
            include views/about/desktop
            include views/tickets/desktop

    .mobile        
        include views/hero/mobile
        //- include views/participants/desktop



