extends layout


block content

    .desktop
        include views/hero/desktop
        include includes/header
        .content
            #participants
                .section
                    include views/participants/desktop
                .section
                    include views/keynote/desktop
            .section
                include views/about/desktop
            .section
                include views/tickets/desktop

    .mobile        
        include views/hero/mobile
        //- include views/participants/desktop



