extends layout


block content

    .desktop
        include views/hero/desktop
        include includes/header
        .content
            #participants.seven-on-seven-page-container
                .section.seven-on-seven-page
                    include views/participants/desktop
                //- .section
                    include views/keynote/desktop
            .section.seven-on-seven-page-container#about
                .seven-on-seven-page
                    include views/about/desktop
            .section#archive
                include views/alumni/desktop

            //- .seven-on-seven-page-container
                //- .seven-on-seven-page
            include views/tickets/desktop

            #sponsors
                include views/footer/desktop

    .mobile        
        include views/hero/mobile
        //- include views/participants/desktop

        .content
            #participants
                .section
                    .large.centered
                        | Participants
                    include views/participants/mobile
                //- .section
                    include views/keynote/desktop

            include views/tickets/desktop

            .section
                include views/about/desktop
            //- .section#alumni
                include views/alumni/desktop

            //- #sponsors
            include views/footer/desktop




block extras
    .video-overlay-container
        include views/alumni/includes/video-overlay


    .welcome.modal
        | Thanks for another great year at Seven on Seven!
        br
        br
        | Join us for the next round in spring 2016, or click through to view the archived site, plus event videos from all seven past editions.
        br
        br
        i
            | - Heather Corcoran, Rhizome.org