extends layout


block content

    .desktop
        include views/hero/desktop
        include includes/header
        .content
            #participants
                .section
                    include views/participants/desktop
                .section
                    include views/keynote/desktop
            .section
                include views/about/desktop
            .section#alumni
                include views/alumni/desktop

            include views/tickets/desktop

            include views/footer/desktop

    .mobile        
        include views/hero/mobile
        //- include views/participants/desktop



