.keynote

    .row

        .column-4.center-column
            .keynote-details.center
                .name
                    | Keynote Speaker Name
                .keynote-speaker
                    | Keynote Speaker
                .occupation
                    | Cofounder X


    .row                    
        .column-4
            .keynote-details.left
                .details
                    | Alcohol pistol kanji singularity weathered tube lights shanty town -space assassin tower sunglasses. Urban papier-mache digital motion franchise cartel sub-orbital girl. Engine cyber- paranoid boy sunglasses pistol dolphin spook network. Tank-traps wonton soup lights bicycle euro-pop sub-orbital A.I. neon order-flow network sign BASE jump free-market Tokyo convenience store. Concrete bomb grenade sign semiotics otaku fetishism carbon augmented reality human vinyl saturation point numinous. Kowloon soul-delay carbon sentient claymore mine sunglasses ablative rifle tanto beef noodles.


        .column-4
            .keynote-details.center
                img(src="http://placehold.it/356")

        .column-4
            .keynote-details.right
                .details
                    | Alcohol pistol kanji singularity weathered tube lights shanty town -space assassin tower sunglasses. Urban papier-mache digital motion franchise cartel sub-orbital girl. Engine cyber- paranoid boy sunglasses pistol dolphin spook network. Tank-traps wonton soup lights bicycle euro-pop sub-orbital A.I. neon order-flow network sign BASE jump free-market Tokyo convenience store. Concrete bomb grenade sign semiotics otaku fetishism carbon augmented reality human vinyl saturation point numinous. Kowloon soul-delay carbon sentient claymore mine sunglasses ablative rifle tanto beef noodles.

