@import "mixins";
@import "fonts";
@import "lib/animate";
// @import "lib/base";
@import "lib/shelves";

$purple: #5f3fff;

.centered {
  text-align: center;
}

html, body {
    font-family: 'Dosis', sans-serif;
    color: white;
    background-color: $purple;
}

$headerHeight: 100px;

.hidden {
    display: none;
}

.underline {
    text-decoration: underline;
}

.row {
    margin-top: 20px;
}

.desktop {
    .content {

        padding-top: 2 * $headerHeight;
        background-color: white;
        color: $purple;

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        // height: 5000px;
    }
}

.mobile {
  display: none;
}


@import "header";
@import "views/hero";
@import "views/participants";
@import "views/keynote";
@import "views/about";
@import "views/tickets";
@import "mobile";

