@import "mixins";
@import "fonts";
@import "lib/animate";
// @import "lib/base";
@import "lib/shelves";

$purple: #5f3eff;
$black: #404041;

.centered,
.center {
  text-align: center;
}

.left {
    text-align: right;
}

.right {
    text-align: left;
}

html, body {
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    color: white;
    background-color: $purple;
    letter-spacing: 1.5px;
}

$headerHeight: 88px;

.hidden {
    display: none;
}
.lead-in {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 33px;

    &.more {
        margin-top: 80px;
    }
}
.underline {
    text-decoration: underline;
}

.upper {
    text-transform: uppercase;
}

.row {
    margin-top: 20px;

    &.close {
        margin-top: 0;
    }
}

.seven-on-seven-page-container {

    height: 100vh;

    .seven-on-seven-page {
        @include vertical-align;
    }
}

.large {
    font-size: 55px;
    font-weight: 200;
    line-height: 60px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 38px;
    line-height: 1;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
}

.desktop {
    .content {

        padding-top: 2 * $headerHeight;
        background-color: white;
        color: $purple;

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        // height: 5000px;
    }
}

.mobile {
  display: none;

    .content {

        padding-top: 75px;
        background-color: white;
        color: $purple;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        // height: 5000px;
    }  
}

.section {
    // margin-bottom: 150px;
}


@import "header";
@import "views/hero";
@import "views/participants";
@import "views/keynote";
@import "views/alumni";
@import "views/about";
@import "views/tickets";
@import "views/footer";
@import "mobile";

