.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $headerHeight;
    opacity: 0;

    color: $purple;
    z-index: -10;

    // background-color: white;
    $margin: 5%;

    .sevenonseven {
        position: absolute;
        left: $margin;
        top: 20px;
        width: 89px;
        height: 88px;

        background-size: 100%;
        background-image: url(../images/header/1.png);
    }
    .navigation {

        ul {
            li {
                display: inline-block;
                margin-left: 15px;

                a {
                    text-decoration: none;
                    text-align: center;
                    padding-left: 2px;
                    color: black;
                    font-weight: 500;
                    font-size: 15px;
                    border-bottom: solid 0 rgba(255, 255, 255, 0);
                    -webkit-transition: all 0.3s;
                            transition: all 0.3s;

                    &:hover,
                    &.active {
                        color: $purple;
                        border-bottom-width: 2px;
                        border-bottom-color: $purple;
                    }
                }
            }
        }
        position: absolute;
        right: $margin;
        top: 20px;
        text-transform: uppercase;
    }

}
