.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $headerHeight;
    opacity: 0;

    color: $purple;
    z-index: -10;

    // background-color: white;
    $margin: 5%;

    .sevenonseven {
        position: absolute;
        left: $margin;
        top: 20px;
        width: 89px;
        height: 88px;

        background-size: 100%;
        background-image: url(../images/header/1.png);
    }
    .navigation {

        ul {
            li {
                display: inline-block;
                margin-left: 20px;

                a {
                    text-decoration: none;
                    color: black;
                    border-bottom: solid 1px rgba(255, 255, 255, 0);

                    &:hover,
                    &.active {
                        color: $purple;
                        border-bottom-color: $purple;
                    }
                }
            }
        }
        position: absolute;
        right: $margin;
        top: 20px;
        text-transform: uppercase;
    }

}
