

.mobile {

    background-color: white;
    .content {
        background-color: white;
    }

    .large {
        font-size: 27px;
    }

    // color: $purple;

    &.hero {
        position: absolute;
    }
    .counter {
        
        width: 60%;
        margin: 0 auto;
        margin-top: 15px;
        text-align: center;
        text-transform: uppercase;

        tr {
            width: 100%;
        }
        td {
            width: 33%;
        }
    }

    text-align: center;
    width: 100%;

    .mobile-logo {
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        width: 76px;
        height: 76px;
        background-size: 100%;
        background-image: url(../images/mobile-logo.png);
    }

    .announcement {
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        width: 60%;

        .save-the-date {
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 30px;
        }
        .location {
            font-size: 18px;
            margin-bottom: 30px;
            text-transform: uppercase;   
        }
    }

    .meta-section {
        margin-top: 40px;
        .details {
            font-size: 12px;
            margin-bottom: 10px;
        }

        img {
            width: 30%;
            margin-top: 10px;
        }

        .social {
            img {
                height: 20px;
                margin-top: 0;
                width: auto;
            }

            table {

                width: 20%;
                text-align: center;
                margin: 0 auto;
                tr {
                    width: 100%;
                    td {
                        width: 50%;
                    }
                }

            }
        }

        .mobile-hashtag {
            margin-bottom: 30px;
        }
    }

    .cell {
        margin-top: 33px;

        .button {
            margin-top: 33px;
            margin-bottom: 33px;
            position: static;
        }
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .about {
        text-align: center;

        .large {
            text-align: center;
        }

        .details {
            text-align: center;
        }

        img {
            margin-bottom: 33px;
            margin-top: 33px;
        }
    }

    .section {
        margin-bottom: 75px;
    }

    .seven-on-seven-title {
        font-weight: 500;
    }


    .announcement-container {
        margin-top: 75px;
    }

    .mobile-participant {
        width: 100%;
        float: none;
        margin: 15px auto;
        margin-bottom: 80px;

        .participant-names {
            font-size: 22px;
        }

        .name {
            margin-top: 30px;
        }
    }

    .final-partners {
        font-size: 12px;
    }

    .alumni-nav {
        .previous-year {
            width: 45px !important;
            height: 45px !important;
            font-size: 14px !important;
        }
    }

}


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1200px) {
    .ticket-box {
        .large {
            font-size: 44px;
        }
    }
}
@media only screen and (max-width: 990px) {
    .ticket-box {
        .large {
            font-size: 36px;
        }
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 420px) {

}

@media only screen and (min-width: 767px) and (max-width: 880px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 800px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block !important;
    }
}
