
.video-overlay-container {

    .no-padding {
        padding-left: 0;
        padding-right: 0;
        img {

            vertical-align: top;
            &.left {
                padding-right: 10px;
            }

            &.right {
                padding-left: 10px;
            }
        }
    }

    .center-text {
        @include vertical-align();
        padding-top: 33px;
    }
    display: none;
    z-index: 1000000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $purple;
    height: 100%;

    .inline {
        display: inline-block;
        width: 90%;
        // position: relative;
        // top: 5px;
        // @include vertical-align();
    }

    .video-container {

        text-transform: uppercase;
        // padding-top: 33px;
        // padding-bottom: 33px;
        text-align: center;
        // @include vertical-align();


        .content-holder {
            // max-width: 600px;
            margin: 0 auto;
        }

        .video {
            // padding-top: 15px;
        }

        .close-video {
            cursor: pointer;
            margin-bottom: 30px;
            margin-top: 30px;
        }

        .previous, .next {
            cursor: pointer;
            font-size: 12px;
            @include vertical-align();
        }
    }
}

.alumni-container {

    margin-bottom: 150px;

    .alumni-nav {
        .previous-year {
            border-radius: 50%;
            cursor: pointer;
            width: 75px;
            height: 75px;
            box-sizing: border-box;
            font-size: 18px;

            &.selected {
                background-color: $purple;
                color: white;
            }

            &:hover {
                border: solid 2px $purple;
                // background-color: lighten($purple, 30%);
            }

            .year {
                @include vertical-align();
            }
        }
        margin-bottom: 80px;
    }

    .featured-thumbnail {

        img {
            cursor: pointer;
            &:hover {
                opacity: 0.6;
            }
        }
    }

    .alumni-thumbnail {

        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
        img {
            width: 100%;
        }

        .description {
            margin-top: 33px;
            text-align: center;
            font-size: 22px;
        }
        margin-bottom: 80px;
    }


    ul {
        list-style: none;
    }


    .lead-in {
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 33px;

        &.more {
            margin-top: 80px;
        }
    }

    .press {
        text-transform: uppercase;

        a {
            color: $purple;
            border-bottom: solid 1px $purple;
            text-decoration: none;
            &:visited {
                color: $purple;
                text-decoration: none;
            }
        }
        margin-bottom: 80px;
    }

}