

.alumni-container {

    .alumni-nav {
        .previous-year {
            border-radius: 50%;
            cursor: pointer;
            width: 75px;
            height: 75px;
            box-sizing: border-box;
            font-size: 18px;

            &.selected {
                background-color: $purple;
                color: white;
            }

            &:hover {
                border: solid 2px $purple;
                // background-color: lighten($purple, 30%);
            }

            .year {
                @include vertical-align();
            }
        }
        margin-bottom: 80px;
    }

    .featured-thumbnail {

        img {
            cursor: pointer;
            &:hover {
                opacity: 0.6;
            }
        }
    }

    .alumni-thumbnail {

        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
        img {
            width: 100%;
        }

        .description {
            margin-top: 33px;
            text-align: center;
            font-size: 22px;
        }
        margin-bottom: 80px;
    }


    ul {
        list-style: none;
    }


    .lead-in {
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 33px;

        &.more {
            margin-top: 80px;
        }
    }

    .press {
        text-transform: uppercase;

        a {
            color: $purple;
            border-bottom: solid 1px $purple;
            text-decoration: none;
            &:visited {
                color: $purple;
                text-decoration: none;
            }
        }
        margin-bottom: 80px;
    }

}