
.hero {
    top: 0;
    left: 0;
    right: 0;
    background-color: $purple;


    .content-container {

        $margin: 5%;
        .navigation {

            ul {
                margin: 0;
                li {
                    display: inline-block;
                    margin-left: 20px;

                    a {
                        text-decoration: none;
                        color: white;

                        &.active {
                            // text-decoration: underline;
                            // color: $purple;
                        }
                        border-bottom: solid 0 $purple;

                        -webkit-transition: all 0.3s;
                                transition: all 0.3s;

                        &:hover {
                            border-bottom-color: white;
                            border-bottom-width: 2px;
                        }
                    }
                }
            }
            position: absolute;
            right: $margin;
            top: $margin;
            text-transform: uppercase;
        }

        .rhizome {
            position: absolute;
            left: $margin;
            // top: $margin;
            top: $margin;
            text-transform: uppercase;

            img {
                width: 88px;
                height: 17px;
                // width: 100%;
                // height: auto;
                vertical-align: bottom;
                margin-left: 10px;
            }

            // background-size: 100%;
            // background-image: url(../images/sevenonseven.png);
        }
        .counter {
            position: absolute;
            right: $margin;
            top: $margin;
            text-transform: uppercase;

            span {
                margin-left: 20px;
            }
        }
        .sponsors {
            position: absolute;
            left: $margin;
            bottom: $margin;
            width: 231px;
            height: 42px;

            img {
                width: 100%;
                height: auto;
            }

            // background-image: url(../images/rhizome.png);
        }
        .social {
            position: absolute;
            right: $margin;
            bottom: $margin;

            .hashtag {

                display: inline-block;
                // position: relative;
                // top: -2px;

                a {
                    text-decoration: none;
                    color: white;

                    &:visited {
                        text-decoration: none;
                        color: white;
                    }
                }

                border-bottom: solid 1px $purple;

                &:hover {
                    border-bottom-color: white;
                }
            }

            .icon {
                display: inline-block; 
                border-bottom: solid 1px $purple;

                &:hover {
                    border-bottom-color: white;
                }
                width: 20px;
                height: 20px;
                margin-left: 20px;
                text-align: center;
                img {
                    vertical-align: baseline;
                    width: auto;
                    height: 75%;
                }
            }
        }

        .title-container {
            font-size: 22px;
            line-height: 30px;
            text-transform: uppercase;

            text-align: right;
            position: absolute;
            top: calc(50% + 85px);
            right: calc(50% - 213px);

            .seven-on-seven-title {
                font-weight: 500;
            }
        }

        .names-container {
            
            @include vertical-align;
            text-transform: uppercase;

            position: absolute;
            margin-left: auto;
            margin-right: auto;
            font-size: 55px;
            font-weight: 200;
            max-width: 313px;

            left: 0;
            right: 0;

            text-align: center;

            display: none;

        }

        .announcement-container {

            @include vertical-align;
            // width: 100%;
            max-width: 213px;
            position: absolute;
            text-align: center;
            left: 50%;
            // margin: 0 auto;

            .announcement {
                display: block;
                margin-left: auto;
                margin-right: auto;
                font-size: 18px;
                max-width: 213px;
                img {
                    max-width: 213px;
                }


                .save-the-date {
                    text-transform: uppercase;
                    font-size: 24px;
                    margin-bottom: 40px;
                }
                .location {
                    font-size: 24px;
                    margin-bottom: 40px;
                    text-transform: uppercase;   
                }
            }
        }

        

    }
}

svg {
    circle {
        fill: white;
    }
    .circle-group {
        cursor: pointer;
    }
}

.desktop {
    .hero {
        bottom: 0;
        position: fixed;
    }
}
