.tickets {

    img {
        max-width: 355px;
        width: 100%;
    }


	.ticket-box {
		box-sizing: border-box;
		width: 100%;
		border: solid 3px $purple;
		background-color: white;

        text-align: center;
        padding: 30px;


		min-height: 300px;


        .button {
            width: 120px;
            border: solid 2px $purple;
            text-transform: uppercase;
            margin: 0 auto;
            padding-top: 5px;
            padding-bottom: 5px;


            a {
                text-decoration: none;
                color: $purple;

                &:visited {
                    color: $purple;
                }
            }


        }


		&.inverted {
			border: solid 0 $purple;
			background-color: $purple;
			color: white;

            .button {
                border-color: white;
                a {
                    color: white;
                    &:visited {
                        color: white;
                    }
                }
            }
		}
	}
}