
#info {
    margin-bottom: 200px;
}

#tickets {
    margin-bottom: 150px;

    // .row {
    //     &:first-of-type {
    //         margin-top: 
    //     }
    // }
}

.tickets {

    img {
        max-width: 355px;
        width: 100%;
        margin-bottom: 33px;
    }

    .padded {
        margin-top: 40px;
        margin-bottom: 40px;
    }


    .press-ticket-container {
        margin-top: 50px;
    }

    .press-tickets {

        a {
            text-decoration: none;
            border-bottom: solid 1px $purple;
            color: $purple;

            &:visited {
                text-decoration: none;
                border-bottom: solid 1px $purple;
                color: $purple;
            }
        }
    }

	.ticket-box {
		box-sizing: border-box;
		width: 100%;
		border: solid 2px $purple;
		background-color: white;

        text-align: center;
        padding-top: 80px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;

        p {
            margin-bottom: 45px;
        }


		min-height: 350px;
        position: relative;

        .price {
            font-size: 55px;
            font-weight: 200;
        }


        .button {
            width: 120px;
            border: solid 1px $purple;
            text-transform: uppercase;
            margin: 0 auto;
            padding-top: 5px;
            padding-bottom: 7px;
            position: absolute;
            bottom: 80px;
            left: 0;
            right: 0;
            cursor: pointer;
            -webkit-transition: all 0.3s;
                    transition: all 0.3s;


            a {
                text-decoration: none;
                color: $purple;
                font-size: 11px;
                font-weight: 500;

                &:visited {
                    color: $purple;
                }
            }

            &:hover {
                border-color: $purple;
                background-color: $purple;
                a {
                    color: white;
                }

            }


        }

        .sub-button {
            position: relative;
            display: inline-block;
            width: 49%;

            button {
                position: auto;
            }
        }

		&.inverted {
			border: solid 0 $purple;
			background-color: $purple;
			color: white;

            .button {
                border-color: white;
                a {
                    color: white;
                    &:visited {
                        color: white;
                    }
                }

                &:hover {
                    border-color: white;
                    background-color: white;
                    a {
                        color: $purple;
                    }
                }
            }
		}
	}
}