.hero
    .svg-container
    .content-container.hidden
        .logo.rhizome
            | Presented By
            img(src="#{STATIC_URL}images/rhizome.png")

        .navigation
            ul
                li
                    a(href="#participants").active
                        | Participants
                li
                    a(href="#about")
                        | About
                //- li
                    a(href="#alumni")
                        | Alumni
                li
                    a(href="#info")
                        | Info
                li
                    a(href="#tickets")
                        | Tickets


        .announcement-container
            .announcement
                .logo
                    img(src="./images/sevenonseven.png")

        .title-container
            .title
                | 7th Edition: 
                span.seven-on-seven-title
                    | Empathy & Disgust
                br
                | May 2, 2015 at the New Museum


        .logo.sponsors
            //- a(href="https://rhizome.org", target="_blank")
            img(src="#{STATIC_URL}images/sponsors.gif")

        .social
            .hashtag
                a(href="https://twitter.com/hashtag/7on7NYC", target="_blank")
                    | #7ON7NYC
            .icon
                a(href="https://twitter.com/rhizome", target="_blank")
                    img(src="#{STATIC_URL}images/twitter.png")
            .icon
                a(href="https://instagram.com/rhizomedotorg/", target="_blank")
                    img(src="#{STATIC_URL}images/instagram.png")
