

.footer

    .row.close.lead-in
        | Presented By

    .row.breathe-bottom
        img(src="./images/rhizome.png")

    .row.lead-in
        | Follow Us

    .row.breathe-bottom
        .column-2.center-column.mobile-column-2
            .row
                .column-6.mobile-column-2
                    .icon
                        a(href="https://twitter.com/rhizome", target="_blank")
                            img(src="#{STATIC_URL}images/twitter.png")

                .column-6.mobile-column-2
                    .icon
                        a(href="https://instagram.com/rhizomedotorg/", target="_blank")
                            img(src="#{STATIC_URL}images/instagram.png")

    .row.breathe-bottom
        a(href="https://twitter.com/hashtag/7on7NYC", target="_blank").hashtag
            | #7ON7NYC

    .row.lead-in
        | Hosted By

    .row.hosted-by
        .column-6.center-column
            img(src="./images/sponsors/newmuseum.png")

    .row.lead-in
        | Partners


    .row.partners
        .column-6.center-column
            img(src="./images/sponsor-logos-top.png")
            img(src="./images/sponsor-logos-bottom.png")
            //- .row.top.breathe-bottom
            //-     .column-3.centered
            //-             img(src="./images/sponsors/newmuseum.png")
            //-     .column-3.centered
            //-             img(src="./images/sponsors/weiden.png")
            //-     .column-6
            //-         img(src="./images/sponsors/deutschebank.png")

            //- .row.mid.breathe-bottom
            //-     .column-4.center-column
            //-         .row
            //-             .column-6
            //-                 img(src="./images/sponsors/fusion.png").tight
            //-             .column-6
            //-                 img(src="./images/sponsors/ace.png")
            //- .row.breathe-bottom
            //-     .column-8.center-column
            //-         .row
            //-             .column-4
            //-                 img(src="./images/sponsors/tumblr.png")
            //-             .column-4
            //-                 img(src="./images/sponsors/giphy.png")
            //-             .column-4
            //-                 img(src="./images/sponsors/paddle8.png")
            
            //- .row.breathe-bottom.pad-top
            //-     .column-12.center-column
            //-         .row
            //-             .column-4
            //-                 img(src="./images/sponsors/bfa.png").very.tight
            //-             .column-4
            //-                 img(src="./images/sponsors/printalloverme.png")
            //-             .column-4
            //-                 img(src="./images/sponsors/newhive.png").tight


    //- .row
        .center.final-partners
            | The Truckin' Foundation 
            | • 
            | Lisa Phillips 
            | • 
            | Dorothy Berwin 
            | • 
            | S Ma Familiant 
            | • 
            | Mark Gordon

    .credits
        .row.lead-in
            | Branding & Site Design

        .row.handle.social
            a(href="https://twitter.com/Universalscene")
                | @Universalscene

        .row.bio
            p
                | Universalscene is 
                span.strike
                    | Tim Nolan 

                | and 
                span.strike
                    | Jen Lu.

        .row.lead-in.development
            | Development

        .row.handle.social
            a(href="https://twitter.com/mathisonian")
                | @Mathisonian

        .row.bio
            p
                | Matthew Conlen works as senior developer for rhizome.org.


    //- .return-to-top
        | Top of Page






