
.section
    .tickets#info

        .row
            .column-4.center-column.centered
                .image-container.centered
                    img(src="./images/map_pin.png")

                | The New Museum is located on Bowery
                br
                | Between
                br
                | Stanton St & Rivington St

        .row
            .column-12.centered
                h1.large.padded
                    | Saturday, May 2nd, 12-6 PM


        .row
            .column-4.center-column.centered
                .lead-in
                    | Schedule

        .row
            .column-4.left
                .large
                    | 11:30AM

                p
                    | Registration and Coffee

            .column-4.centered
                .large
                    | 12 - 6PM

                p
                    | Conference
                    br
                    | (includes lunch and coffee breaks)
            
            .column-4.right
                .large
                    | 6 - 9PM

                p
                    | Afterparty in the New Museum's Sky Room
.section
    .tickets#tickets
        .row
            .column-4.cell
                .ticket-box.inverted
                    .large.upper
                        | Regular
                    .price
                        | $125

                    p.centered
                        | Conference general admission seating, 
                        | and ticket to afterparty.


                    .button
                        a(href="https://www.eventbrite.com/e/rhizomes-seven-on-seven-2015-tickets-16300590505")
                            | Get Tickets
                        

            .column-4.cell
                .ticket-box.inverted
                    .large.upper
                        | VIP
                    .price
                        | $350

                    p.centered
                        | Private lunch with participants in the New Museum's Sky Room, conference premium seating, a special gift, acknowledgement in event program, and ticket to afterparty.

                    .button
                        a(href="https://www.eventbrite.com/e/rhizomes-seven-on-seven-2015-tickets-16300590505")
                            | Get Tickets
            .column-4.cell
                .ticket-box.inverted
                    h3.upper
                        | Limited, Reduced-Price Artist Tickets
                    .price
                        | $40

                    p.centered
                        | Conference general admission seating, and ticket to afterparty. By application only, and distributed by lottery.

                    .button
                        a(href="https://docs.google.com/forms/d/1-I6fFjEeCHdljMeq6UcauVJMGLWMM4ituHZo2uLjZoU/viewform")
                            | Apply

        .row
            .column-8.cell
                .ticket-box
                    .large.upper
                        | Exclusive VIP Kick-Off Dinner, April 30th

                    p.centered
                        | Purchase a seat to toast all the participants at our intimate VIP Kick-Off Dinner on April 30, 7pm-10pm. Tickets are available for $500 each, or $3500 for a table of 8. All proceeds benefit Rhizome, and a portion of the ticket price is tax deductible.


                    .button
                        a(href="https://www.eventbrite.com/e/rhizomes-seven-on-seven-2015-tickets-16300590505")
                            | Get Tickets


            .column-4.cell
                .ticket-box
                    .large.upper
                        | Afterparty Only
                    .price
                        | $10

                    p.centered
                        | Come have a drink with the participants and conference attendees, in the New Museum's Sky Room from 6-8pm.


                    .button
                        a(href="https://www.eventbrite.com/e/rhizomes-seven-on-seven-2015-tickets-16300590505")
                            | Get Tickets


        .row
            .column-12.centered
                p
                    | Limited press tickets by application 
                    span.press-tickets
                        a(href="http://www.tfaforms.com/324167")
                            | HERE
                    | .

