
.section
    .tickets#info

        .row
            .column-4.center-column.centered
                .image-container.centered
                    img(src="./images/map_pin.png")

                | The New Museum is located on Bowery
                br
                | Between
                br
                | Stanton St & Rivington St

        .row
            .column-12.centered
                h1
                    | Saturday, May 2nd, 12-6 PM


        .row
            .column-4.center-column.centered
                h3
                    | Schedule

        .row
            .column-4.left
                h2
                    | 11:30AM

                p
                    | Registration and Coffee

            .column-4.centered
                h2
                    | 12 - 6PM

                p
                    | Conference event
                    br
                    | (includes lunch and coffee breaks)
            
            .column-4.right
                h2
                    | 6 - 9PM

                p
                    | Afterparty in the New Museum's skyroom
.section
    .tickets#tickets
        .row
            .column-4
                .ticket-box.inverted
                    h1
                        | Regular
                        br
                        | $125

                    p.centered
                        | Conference general admission seating 
                        | and ticket to the afterparty.


                    .button
                        a(href="#")
                            | Get Tickets
                        

            .column-4
                .ticket-box.inverted
                    h1
                        | VIP
                        br
                        | $275

                    p.centered
                        | Conference premium seating, light lunch provided in the New Museum’s Sky Room, acknowledgement in event program, and ticket to afterparty.

                    .button
                        a(href="#")
                            | Get Tickets
            .column-4
                .ticket-box.inverted
                    h3
                        | Limited, Reduced-Price Artist Tickets
                        br
                        | $40

                    p.centered
                        | Conference general admission seating, and ticket to afterparty. By application only, and distributed by lottery.

                    .button
                        a(href="#")
                            | Get Tickets

        .row
            .column-8
                .ticket-box
                    h1
                        | Regular
                        br
                        | $125

                    p.centered
                        | Conference general admission seating 
                        | and ticket to the afterparty.


                    .button
                        a(href="#")
                            | Get Tickets

            .column-4
                .ticket-box
                    h1
                        | Regular
                        br
                        | $125

                    p.centered
                        | Conference general admission seating 
                        | and ticket to the afterparty.


                    .button
                        a(href="#")
                            | Get Tickets
