
.section
    .tickets#info

        .row
            .column-4.center-column.centered
                .image-container.centered
                    img(src="./images/map_pin.png")

                | The New Museum is located on Bowery
                br
                | Between
                br
                | Stanton St & Rivington St

        .row
            .column-12.centered
                h1.large.padded
                    | Saturday, May 2nd, 12-6 PM


        .row
            .column-4.center-column.centered
                .lead-in
                    | Schedule

        .row
            .column-4.left
                .large
                    | 11:30AM

                p
                    | Registration and Coffee

            .column-4.centered
                .large
                    | 12 - 6PM

                p
                    | Conference
                    br
                    | (includes breaks for lunch and coffee)
            
            .column-4.right
                .large
                    | 6 - 9PM

                p
                    | Afterparty in the New Museum's Sky Room
.section
    .tickets#tickets
        .row
            .column-4.cell
                .ticket-box.inverted
                    .large.upper
                        | Regular
                    .price
                        | $125

                    p.centered
                        | Conference general admission seating, 
                        | and ticket to afterparty.


                    .button.sold-out
                        a
                            | Sold Out
                        

            .column-4.cell
                .ticket-box.inverted
                    .large.upper
                        | VIP Supporter
                    .price
                        | $350

                    p.centered
                        | Private lunch with participants in the New Museum's Sky Room, conference premium seating, a special gift, acknowledgement in event program, and ticket to afterparty.

                    .button.sold-out
                        a
                            | Sold Out
            .column-4.cell
                .ticket-box.inverted
                    h3.upper
                        | Limited, Reduced-Price Artist Tickets
                    .price
                        | $40

                    p.centered
                        | Conference general admission seating, and ticket to afterparty. By application only, and distributed by lottery.

                    .button.sold-out
                        a
                            | Sold Out

        .row
            .column-4.cell
                .ticket-box
                    .large.upper
                        | VIP Kick-Off Dinner, April 30th

                    p.centered
                        | Purchase a seat to toast all the participants on April 30, 7pm-10pm. All proceeds benefit Rhizome.


                    .button
                        a(href="https://www.eventbrite.com/e/rhizomes-seven-on-seven-2015-tickets-16300590505")
                            | Get Tickets


            .column-4.cell
                .ticket-box
                    .large.upper
                        | Afterparty Only
                    .price
                        | $10

                    p.centered
                        | Come have a drink with the participants and conference attendees, in the New Museum's Sky Room from 6-8pm. Hosted by Tumblr!


                    .button
                        a(href="https://www.eventbrite.com/e/rhizomes-seven-on-seven-2015-tickets-16300590505")
                            | Get Tickets

            .column-4.cell
                .ticket-box
                    .large.upper
                        | Livestream at NEW INC!
                    .price
                        | $15

                    p.centered
                        | Watch the livestream at 
                        a(href="http://newinc.org/")
                            | NEW INC
                        | , directly adjacent to the New Museum - almost as if you were there! Includes an Afterparty ticket.

                    .button
                        a(href="https://www.eventbrite.com/e/rhizomes-seven-on-seven-2015-tickets-16300590505")
                            | Get Tickets


        .row.press-ticket-container
            .column-12.centered
                p
                    | Limited press tickets by application 
                    span.press-tickets
                        a(href="http://www.tfaforms.com/324167")
                            | HERE
                    | .

