.participants
    - var participant = participants[0]
    #selected-participant-container
        include ./includes/full-participant


    .row
        .column-10.center-column
            .row.mini-participant-container
                for participant, i in participants.slice(1)
                    include ./includes/mini-participant
                    