
.header
    .logo.sevenonseven
    .navigation
        ul
            li
                a(href="#participants").active
                    | Participants
            li
                a(href="#about")
                    | About
            li
                a(href="#archive")
                    | Archive
            li
                a(href="#info")
                    | Info 
            li
                a(href="#tickets")
                    | Tickets