
.header
    .logo.sevenonseven
    .navigation
        ul
            li
                a(href="#participants").active
                    | Participants
            li
                a(href="#about")
                    | About
            //- li
                a(href="#alumni")
                    | Alumni
            li
                a(href="#tickets")
                    | Tickets & Info 