.announcement
    .logo
        img(src="./images/sevenonseven.png")


.title
    | 7th Edition: 
    span.seven-on-seven-title
        | Empathy & Disgust
    br
    | May 2, 2015 at the New Museum

