.announcement
    .save-the-date
        span.underline
            | Save the Date
        br
        | Saturday, May 2nd, 12-6PM

    .location
        | New Museum
        br
        | 235 Bowery, NY 10002

    .details
        | Presented by Rhizome, the Seven on Seven conference pairs seven leading 
        | artists with seven luminary technologists, and challenges
        | them to develop something new over the course of a single day. They
        | unveil their creations, and process, at this public event.